{% extends "layout.html" %} {% block content %}
<div class="container mt-3">
  <div row="justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
      <h3>About Me and Color Search</h3>
      <p>
        Hi, I'm Imtiaz. I built Color Search, the search engine for colors and
        images to get into the world of search engines. This is a very basic
        implementation of how search engines work but yet it manages to do
        something very cool.
      </p>
      <p>
        Why did I build it? Primarily to learn. I tried finding something
        similar. Couldn't find anything I liked. Moreover, I've been wanting to
        build something cool. So, I went ahead and built one image/color search
        engine myself.
      </p>
      <p>
        The algorithm used to search has been heavily influenced by
        <a
          href="https://towardsdatascience.com/color-identification-in-images-machine-learning-application-b26e770c4c71"
          >this blogpost</a
        >.
      </p>
      <p>
        The frontend has mostly been built using the code snippets from
        <a href="https://bootstrapious.com/p/bootstrap-image-upload">here</a>.
      </p>
      <p>You can contact me at ak.imtiaz147@gmail.com</p>
    </div>
  </div>
</div>
{% endblock content %}
